/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}

.text-center{
	font-family: 'Raleway', sans-serif;
}

.text-center h2{
	font-size: 36px;
	line-height: 42.25px;
	margin-bottom: 40px;
}
.text-center hr{
	/* width: 170px; */
	height: 1px;
	width: 15%;
	margin: 0 42% 0 42%;
	color:#EC7979;
}
.text-center p{
	color:#86878B;
}
.card h5{
	font-family: 'Open Sans', sans-serif;
}
